@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* Home */
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
	background-size: cover;
}

.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}
.contact .content p{
	font-weight: 300;
	color: #fff;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.container .contactInfo{
	width: 35%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box{
	position: relative;
	margin: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
	z-index: -1;
}
.container .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.container .contactInfo .box .text h3{
	font-weight: 500;
	color: #00bcd4;
}
.contactForm{
	width: 60%;
	margin-top: 20px;
	margin-left: 40px;
	padding: 40x;
	background: #fff;
}
.contactForm h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}
@media (max-width: 991px){
	.contact{
		padding: 50px;
	}
	.container{
		flex-direction: column;
	}
	.container .contactInfo{
		margin-bottom: 40px;
	}
	.container .contactInfo,
	.contactForm{
		width: 100%;
	}
}










/*
body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#77ff00;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background:#03A9F4;#35434a;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}

.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:100%;
			margin:0px;
		}
#brandname{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;
	
header h3{
	text-align:center;
	color:#0000ff;

}



.btn-info {background-color: #2196F3;
	height:40px;
	width:100px;} /* Blue 
.btn-info:hover {background: #0b7dda;}


.resultss{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
*/

